html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #000C36;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* --------------------hero---------------- */


/* ---------------form--------------------- */

/* questions */
.prompt-questions, .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 0.5em;
    max-width: 350px;;
    
    
}

input {
    background: #3B4877;
    border: none;
    border-radius: 5px;
    height: 60px;

}

.question, .letsgo-button {
    width: 80%;
}

/* button */

.letsgo-button {
    margin: 30px auto 0 auto;
    background: #51E08A;
    color: #000C36;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 800;

}

.letsgo-button:hover {
    background: #3B4877;
    color: #fff;
    cursor: pointer;
}

/*------------- output view ---------------*/

/* response */

/* button */

